@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Geist+Mono:wght@100..900&family=Oswald:wght@200..700&family=Protest+Revolution&display=swap');

.topbar {
    display: flex;
    justify-content: space-between;
    width: 97vw;
    align-items: center;
    padding: 0px 1.5vw 0 1.5vw;
    color: rgb(245, 115, 10);
    background-color: rgb(84, 91, 105);
}

.topbar>h1 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: xx-large;

}

li {
    list-style: none;
}

.top-bar-list > a {
    text-decoration: none;
    padding: 16px;
}

.top-bar-list > * {
    font-size: 24px;
    margin-left: 8px;
    color: rgb(186, 87, 7);
    font-weight: bold;
    background-color: rgb(137, 145, 161);
    border-radius: 10px;
}